<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />
    <!-- You can also use the storage emulator, but make sure to start it before running the tests -->
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true" />-->

    <!-- Elasticsearch must be installed to run the integration tests. See http://www.elasticsearch.org/overview/elkdownloads/ for details. -->
    <!--<add key="ElasticsearchUrl" value="http://localhost:9200" />-->

    <add key="StorageConnectionStringOutprocSvc" value="UseDevelopmentStorage=true" />

    <add key="RunSlowIntegrationTests" value="true" />
  </appSettings>

  <system.diagnostics>
    <!-- Turn off Assert.Debug dialog to prevent any interective dialog to show up while running tests. Any assertion will be saved to log file -->
    <assert assertuienabled="false" logfilename="debug.assert.errors.log" />
  </system.diagnostics>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>